<!-- templates/base.html -->
{% load static %}
<html>
    <head>
        <title>
            Kodemlai
        </title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}"
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
    </head>
    <body>
        <header>
            <h1> <a href="{% url 'home' %}"> Hi, I'm Kodemlai </a></h1> <br>
            
        </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>